#### Imports

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# Exercises

The end result of this exercise should be a file named prepare.py.

Using your store items data:

1. Convert date column to datetime format.

In [2]:
#load my csv
df = pd.read_csv('ts_superstore.csv', index_col=0)

In [ ]:
df.info()

In [ ]:
df.sale_date

In [ ]:
df.sale_date = df.sale_date.str.replace(' 00:00:00 GMT', '')

In [ ]:
df.sale_date[0]

In [ ]:
df.sale_date = pd.to_datetime(df.sale_date, format='%a, %d %b %Y')

In [ ]:
df.sale_date

2. Plot the distribution of sale_amount and item_price.

In [ ]:
df.sale_amount

In [ ]:
plt.hist(df.sale_amount)
plt.show()

In [ ]:
df.item_price.max()

In [ ]:
plt.hist(df.item_price)
plt.show()

3. Set the index to be the datetime variable.

In [ ]:
df = df.set_index('sale_date')

In [ ]:
df = df.sort_index

In [ ]:
df.head()

4. Add a 'month' and 'day of week' column to your dataframe.

In [ ]:
df['month'] = df.index.month

In [ ]:
df['day_of_week'] = df.index.day_of_week

In [ ]:
df['weekday'] = df.index.day_name()

In [ ]:
df.head()

5. Add a column to your dataframe, sales_total, which is a derived from sale_amount (total items) and item_price.

In [ ]:
df['sales_total'] = df.sale_amount * df.item_price

In [ ]:
df.head()

#### Using the OPS data acquired in the Acquire exercises opsd_germany_daily.csv, complete the following:

In [6]:
url = "https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv"
germ_df = pd.read_csv(url)

In [ ]:
germ_df.info()

1. Convert date column to datetime format.

In [ ]:
germ_df.Date

In [ ]:
germ_df.Date = pd.to_datetime(germ_df.Date, format='%Y-%m-%d')

In [ ]:
germ_df.info()

In [ ]:
germ_df.head()

2. Plot the distribution of each of your variables.

In [ ]:
plt.hist(germ_df.Wind)
plt.show()

In [ ]:
plt.hist(germ_df.Solar)
plt.show()

In [ ]:
plt.hist(germ_df['Wind+Solar'])
plt.show()

3. Set the index to be the datetime variable.

In [ ]:
germ_df.columns = germ_df.columns.str.lower()

In [ ]:
germ_df.head()

In [ ]:
germ_df.set_index('date')

In [ ]:
germ_df = germ_df.set_index('date')

In [ ]:
germ_df.head()

4. Add a month and a year column to your dataframe.

In [ ]:
germ_df['month'] = germ_df.index.month

In [ ]:
germ_df['year'] = germ_df.index.year

In [ ]:
germ_df

5. Fill any missing values.

In [ ]:
germ_df.isnull().sum()

In [ ]:
germ_df = germ_df.fillna(0)

In [ ]:
germ_df

6. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions and be able to re-run the functions and get the same results.

In [3]:
def superstore_prep(df):
    '''
    Input: df
    Output: df with updates to sale_date, added month/dayofweek/weekday and sales_total columns
    '''
    # dropping time since it is the exact same for each row
    df.sale_date = df.sale_date.str.replace(' 00:00:00 GMT', '')
    # format date to display yyyy-mm-dd
    df.sale_date = pd.to_datetime(df.sale_date, format='%a, %d %b %Y')
    # reset index to have datetime
    df = df.set_index('sale_date')
    df = df.sort_index()
    # add month and day of week columns
    df['month'] = df.index.month
    df['day_of_week'] = df.index.day_of_week
    df['weekday'] = df.index.day_name()
    # create column for sales_total using sale_amount and item_price
    df['sales_total'] = df.sale_amount * df.item_price
    return df

In [4]:
df = superstore_prep(df)

In [5]:
df

,item,sale_amount,sale_id,store,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_id,store_state,store_zipcode,month,day_of_week,weekday,sales_total
sale_date,,,,,,,,,,,,,,,,,,,
2013-01-01,1,13.0,1,1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,1,1,Tuesday,10.92
2013-01-02,1,11.0,2,1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,1,2,Wednesday,9.24
2013-01-03,1,14.0,3,1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,1,3,Thursday,11.76
2013-01-04,1,13.0,4,1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,1,4,Friday,10.92
2013-01-05,1,10.0,5,1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,1,5,Saturday,8.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-27,50,63.0,912996,10,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,10,TX,78231,12,2,Wednesday,327.60
2017-12-28,50,59.0,912997,10,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,10,TX,78231,12,3,Thursday,306.80
2017-12-29,50,74.0,912998,10,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,10,TX,78231,12,4,Friday,384.80
2017-12-30,50,62.0,912999,10,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,10,TX,78231,12,5,Saturday,322.40
2017-12-31,50,82.0,913000,10,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221,8503 NW Military Hwy,San Antonio,10,TX,78231,12,6,Sunday,426.40

In [9]:
def opsd_germ_prep(df):
    '''
    locate file here if you don't have it saved already
    url = "https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv"
    df = pd.read_csv(url)
    Input: df
    Output: df with updates to date, added month/year, filled nulls
    '''
    # convert column names to lower
    df.columns = df.columns.str.lower()
    # convert date column to datetime format
    df.date = pd.to_datetime(df.date, format='%Y-%m-%d')
    # set index to datetime
    df = df.set_index('date')
    df = df.sort_index()
    # add month and year column to df
    df['month'] = df.index.month
    df['year'] = df.index.year
    # fill nulls with 0
    df = df.fillna(0)
    return df

In [10]:
germ_df = opsd_germ_prep(germ_df)

In [11]:
germ_df

            consumption     wind   solar  wind+solar  month  year
date
2006-01-01   1069.18400    0.000   0.000       0.000      1  2006
2006-01-02   1380.52100    0.000   0.000       0.000      1  2006
2006-01-03   1442.53300    0.000   0.000       0.000      1  2006
2006-01-04   1457.21700    0.000   0.000       0.000      1  2006
2006-01-05   1477.13100    0.000   0.000       0.000      1  2006
...                 ...      ...     ...         ...    ...   ...
2017-12-27   1263.94091  394.507  16.530     411.037     12  2017
2017-12-28   1299.86398  506.424  14.162     520.586     12  2017
2017-12-29   1295.08753  584.277  29.854     614.131     12  2017
2017-12-30   1215.44897  721.247   7.467     728.714     12  2017
2017-12-31   1107.11488  721.176  19.980     741.156     12  2017

[4383 rows x 6 columns]

In [15]:
def prep_info():
    '''
    Need to know what is in here?
    '''
    print(f'''This file houses the following functions:
superstore_prep()
opsd_germ_prep()''')

In [16]:
prep_info()

This file houses the following functions:
superstore_prep()
opsd_germ_prep()

In [17]:
def acquire_info():
    '''
    Need to know what is in here?
    '''
    print(f'''This file houses the following functions:
get_germany_data()
get_swapi_data(endpoint)''')

In [18]:
acquire_info()

This file houses the following functions:
get_germany_data()
get_swapi_data(endpoint)